h1 {
	text-align: center;
	margin: 30px;
}

.container{
	text-align: center;
	margin-bottom: 50px;
}

input, textarea, select{
	text-align: center;	
	margin-bottom: 10px;
}
h3 {
	text-align: center;
	margin: 20px;
}

table {
	margin-left: 10px;
}


